body {
  margin: 0;
  background-color: black;
}

.editable-cell {
  position: relative;
}

.editable-cell-value-wrap {
  padding: 5px 12px;
  cursor: pointer;
}

.editable-row:hover .editable-cell-value-wrap {
  padding: 4px 11px;
  border: 1px solid #d9d9d9;
  border-radius: 2px;
}

.query-condition-form-list {
  display: flex;
  flex-direction: column;
}


@import url("/node_modules/react-grid-layout/css/styles.css");
@import url("/node_modules/react-resizable/css/styles.css");

.react-grid-item.react-grid-placeholder {
  background: rgb(255, 255, 255)!important;
  opacity: 0.1!important;
  transition-duration: 100ms;
  z-index: 2;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.react-resizable-handle {
    background: linear-gradient(135deg, transparent 0%, transparent 45%, grey 65%, grey 100%);
}

.recharts-wrapper{
  position: absolute;
}